@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    
    --color-primary: #f9cc14;
    --color-secondary: #2463eb;
    --color-black: #000000ed;
    --color-background-light: #fcf8f1;
    
    --color-success: #87efac;
    --color-error: #fc483c;
    --color-purple: #c87dff;
    
    --color-black: #000000ed;
    --color-white: #ffffff;
    
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;
  }